<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main>
    <h1>{{title}}</h1>
    <h5>{{subtitle1}} <button *ngIf="!show1"  (click)="onclickMostrar()">Mostrar</button></h5>
      
      <ul *ngIf="show1">
        <li *ngFor="let info1 of infoBBDD1; let indice=index">
          <button (click)="taskToShow(info1)">Detalle</button>:: {{indice}} :: {{info1.title}}  
          <!-- <button (click)="onclickMostrarDetalle(info1._id)">Detalle</button>--> 
        </li>
      </ul>
    <!-- <h5 *ngIf="show2">{{subtitle2}}</h5>
    <ul *ngIf="show2">
      <li >
          {{infoBBDD2.title}} :: {{infoBBDD2.description}} :: {{infoBBDD2.completed}} 
      </li>
    </ul> -->
    <app-task *ngIf="selectedTask" [taskToShow]="selectedTask"></app-task> 
  </main>
</body>
</html>