<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main>
    <h1>{{title}}</h1>
    <h5>{{subtitle1}}</h5>
    <ul *ngIf="show">
      <li *ngFor="let info1 of infoBBDD1">

          {{info1.title}} :: {{info1.description}} :: {{info1.completed}}

      </li>
    </ul>
    <h5>{{subtitle2}}</h5>
    <ul *ngIf="show">
      <li >
          {{infoBBDD2.title}} :: {{infoBBDD2.description}} :: {{infoBBDD2.completed}}
      </li>
    </ul>
  </main>
</body>
</html>